<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	
	<select id="list" parameterType="map" resultType="hashMap">
		/* user.list */
		SELECT
			  EMAIL
			, PASSWORD
			, NAME
			, PHONE
		FROM T_USER
	</select>
	
	<select id="listCnt" parameterType="map" resultType="int">
		/* user.listCnt */
		WITH MAIN AS (
			SELECT
				  ID
				, PASSWORD
				, NAME
				, EMAIL
				, PHONE
				, ADDRESS
				, BIRTHDAY
			FROM T_USER
		)
		SELECT
			COUNT(1)
		FROM MAIN
	</select>
	
	<select id="view" parameterType="map" resultType="hashMap">
		/* user.view */
		SELECT
			  EMAIL
			, PASSWORD
			, NAME
			, PHONE
			, ADDRESS
			, BIRTHDAY
		FROM T_USER
		WHERE EMAIL = #{email}
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO /* user.insertUser */
			TBLUSER
			(
				  ID
				, PASSWORD
				, NAME
				<if test="phone != null and phone != ''">
					, PHONE
				</if>
				<if test="birthday != null and birthday != ''">
					, BIRTHDAY
				</if>
			)
			VALUES
			(
				  #{id}
				, #{password}
				, #{name}
				<if test="phone != null and phone != ''">
					, #{phone}
				</if>
				<if test="birthday != null and birthday != ''">
					, #{birthday}
				</if>
			)
	</insert>
	
</mapper>